article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5%;
  }

  /*
#number {
--pico-font-size: 9rem;

}*/
  #titulo{
  /*-pico-font-size: 3rem;*/
    padding-bottom: 5%;
  }
